################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoppingCart/src/ShoppingCart/node_modules
